[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
[[redirects]]
  from = "https://giganxt.me/*"
  to = "https://www.giganxt.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.giganxt.me/*"
  to = "https://www.giganxt.com/:splat"
  status = 301
  force = true
